<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.pda">

    <!--
        App 权限声明
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.android.alarm.permission.WAKE_LOCK"/>

    <application
        android:name="com.android.pda.application.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:windowSoftInputMode="adjustPan|stateHidden"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!--
            启动 Activity
        -->
        <activity
                android:name="com.android.pda.activities.MainActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
                android:name="com.android.pda.broadcastreceivers.AlarmsBroadcastReceiver"
                android:enabled="true"
                android:exported="false" >
        </receiver>
        <activity
            android:name="com.android.pda.activities.MaterialActivity"
            android:exported="true"
            android:label="@string/text_material"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="com.android.pda.activities.LogisticsProviderActivity"
            android:exported="true"
            android:label="@string/text_logistics_provider"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.pda.activities.StorageLocationActivity"
            android:exported="true"
            android:label="@string/text_location"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.pda.activities.LoginActivity"
            android:exported="true"
            android:label="@string/text_location"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.android.pda.activities.MasterDataActivity"
            android:exported="true"
            android:label="@string/text_basic_data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="com.android.pda.activities.UserActivity"
            android:exported="true"
            android:label="@string/text_user"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
    </application>
</manifest>